<block th:fragment="home">
    <div ng-if="games.length>0">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th></th>
                <th>Exchange</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="game in games | orderBy: 'game.date':true">
                        <td>
                            <a th:href="@{/game/showUserGame/{{game.id}}}">
                                <div class="col-md-3" style="background-color: aquamarine;">
                                    <figure class="thumbnail">
                                            <img class="img-responsive"  th:src="@{/game/image/{{game.imageName}}}"/>
                                        <figcaption class="text-center">{{game.name}}</figcaption>
                                    </figure>

                                </div>
                                <div class="col-md-9">
                                    <div><span class="glyphicon glyphicon-globe"> language: {{game.languageVersion}} </span></div>
                                    <div><span class="glyphicon glyphicon-info-sign"> condition: {{game.condition}} </span></div>
                                    <div><time class="comment-date"><i class="fa fa-clock-o"> added: {{game.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</i></time></div>
                                </div>
                            </a>
                        </td>
                        <td><a href="#" th:href="@{/user/showUser/{{game != null ? game.ownerId : ''}}}">{{game.owner}}</a></td>
                        <td><span class="glyphicon glyphicon-refresh">{{game.exchange}}</span></td>
                        <td>{{game.price}} PLN</td>
                    </tr>
            </tbody>
        </table>
    </div>
</block>
