<block th:fragment="home">
    <div ng-repeat="game in games | orderBy: 'game.date':true">
        <!--<h2 class="page-header">Search Results</h2>-->
        <section class="comment-list">
            <!-- First Comment -->
            <article class="row">
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                        <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                        <figcaption class="text-center">username</figcaption>
                    </figure>
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="panel panel-default arrow left">
                        <div class="panel-body">
                            <header class="text-left">
                                <div class="comment-user"><h4><i class="fa fa-user"></i>{{game.publisher}} > <b>{{game.name}}</b> </h4></div>
                                <time class="comment-date" datetime="game.createdDate"><i class="fa fa-clock-o"></i> <i>{{game.createdDate}}</i></time>
                                <div><span class="glyphicon glyphicon-usd"/> {{game.price}}PLN</div>
                                <div>Amount:{{game.amount}}</div>
                            </header><hr/>
                            <div class="comment-post">
                                <p>
                                    <i>{{game.description}}</i>
                                </p>
                            </div>
                            <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> show</a></p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</block>
