<block th:fragment="settings-add-game">
    <div class="row">
        <div class="col-xs-12 well">
            <form role="form" th:action="@{/game/addGame}" th:object="${game}" method="POST" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <label for="name"><h3>Title Game</h3></label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" rows="1" maxlength="30"></input>
                    <small class="text-muted">ENTER THE NAME OF THE GAME</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="publisher"><h3>Publisher</h3></label>
                    <input type="text" class="form-control" id="publisher" th:field="*{publisher}" rows="3"></input>
                    <small class="text-muted">ENTER THE PUBLISHER OF THE GAME</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="description"><h3>Directions</h3></label>
                    <textarea class="form-control" id="description" th:field="*{description}" rows="3"></textarea>
                    <small class="text-muted">ENTER A DESCRIPTION OF THE GAME</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="price"><h3>Price</h3></label>
                    <input type="text" class="form-control" id="price" th:field="*{price}"></input>
                    <small class="text-muted">ENTER THE QUANTITY YOU SELL</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="amount"><h3>Amount</h3></label>
                    <input type="text" class="form-control" id="amount" th:field="*{amount}"></input>
                    <small class="text-muted">ENTER THE PRICE GAME</small>
                </fieldset>
                <br/>
                Image to upload: File to upload: <input type="file" name="picture" />
                <button type="submit" class="btn btn-primary" name="save-recipe-button" value="save-recipe-button">ADD</button>
                <hr/>
            </form>

            <!--<form th:action="@{/game/addGame}" method="POST" enctype="multipart/form-data">-->
                <!--File to upload: <input type="file" name="zdjecie" />-->
                <!--<button type="submit" class="btn btn-primary" name="save-recipe-button" value="save-recipe-button">ADD</button>- -->
            <!--</form>-->
        </div>
    </div>
</block>