<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <title>Admin Panel</title>
</head>
<body>
    <div class="container" align="center" style="padding-top: 200px;">
        <table class="table table-inverse" style="width: auto;">
            <tbody>
                <tr>
                    <td> <button class="btn btn-default"><span class="glyphicon glyphicon-user"></span></button></td>
                    <td> <button class="btn btn-default"><span class="glyphicon glyphicon-signal"></span> </button></td>
                    <td> <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> </button></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>