<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::import-links">
    <title>Title</title>
</head>
<body id="bodyParalax">

<nav th:replace="layout::top-navbar-1Layer" />
<nav th:replace="layout::top-navbar-2Layer" />

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Business Name or Tagline</h1>

                <p>This is a template that is great for small businesses.</p>

                <p>It doesn't have too much fancy flare to it,</p>

                <p>but it makes a great use of the standard Bootstrap core components.</p>

                <p>Feel free to use this template for any project you want!</p>
                <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr/>

        <!--<section class="image" style="background-image: url(../images/cosmos1.jpg);"></section>-->
        <section class="image" data-parallax="scroll" data-image-src="/images/cosmos1.jpg"></section>

        <section class="text">
            <div class="container">
                <div class="icon">
                    <span class="fa fa-fort-awesome"></span>
                </div>
                <div class="content">
                    <p>This is a template that is great for small businesses.</p>

                    <p>It doesn't have too much fancy flare to it,</p>

                    <p>but it makes a great use of the standard Bootstrap core components.</p>

                    <p>Feel free to use this template for any project you want!</p>
                </div>
            </div>
        </section>

        <!--<section class="image" style="background-image: url(../images/cosmos2.jpg);"></section>-->
        <section class="image" data-parallax="scroll" data-image-src="/images/cosmos2.jpg"></section>

        <section class="text left">
            <div class="container">
                <div class="icon">
                    <span class="fa fa-compass"></span>
                </div>
                <div class="content">
                    <p>This is a template that is great for small businesses.</p>

                    <p>It doesn't have too much fancy flare to it,</p>

                    <p>but it makes a great use of the standard Bootstrap core components.</p>

                    <p>Feel free to use this template for any project you want!</p>
                </div>
            </div>
        </section>

        <section class="image" data-parallax="scroll" data-image-src="/images/cosmos3.jpg"></section>

        <section class="text">
            <div class="container">
                <div class="icon">
                    <span class="fa fa-diamond"></span>
                </div>
                <div class="content">
                    <p>This is a template that is great for small businesses.</p>

                    <p>It doesn't have too much fancy flare to it,</p>

                    <p>but it makes a great use of the standard Bootstrap core components.</p>

                    <p>Feel free to use this template for any project you want!</p>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&amp;subset=latin-ext"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<script src="../static/js/parallax.min.js" th:src="@{/js/parallax.min.js}"></script>
</body>
</html>