<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="myApp">
<head th:replace="layoutAfterLogin::import-links">

</head>
<body ng-controller="mainCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation" th:include="fragments/navbarUserPage::up-menu1" />

    <!-- Second Nav -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" th:include="fragments/navbarUserPage::up-menu2" />


    <div class="container" style="width: 100%">
        <div>
            <nav class="navbar navbar-inverse sidebar" role="navigation" th:include="fragments/navbarUserPage::left-menu" />
        </div>

        <div class="tab-content col-md-9">
            <div class="tab-pane active" id="tab_home">
                <th:block th:include="fragments/home::home" />
            </div>
            <div class="tab-pane" id="tab_profile">
                <th:block th:include="fragments/profile::profile" />
            </div>
            <div class="tab-pane" id="tab_messages">
                <th:block th:include="fragments/messages::messages" />
            </div>
            <div class="tab-pane" id="tab_settings_action">
                <th:block th:include="fragments/settings::settings-add-game" />
            </div>
        </div>

        <div id="communicator-block" ng-show="showCommunicatorPanel">
            <div><strong><i>C-o-m-m-u-n-i-c-a-t-o-r</i></strong></div>
            <div>
                <form ng-init="getAllFriends();">
                    <div class='col-md-2' style='height: 200px; width: 20%; background-color: coral; border: double;'>
                        <div style='height: 90%; background-color: chocolate; overflow: scroll'>
                            <ul>
                                <span ng-repeat="friend in allMyFriends">
                                    <li><a href="#" ng-click="showTalkCommunicator(friend.username)">{{friend.username}}</a></li>
                                </span>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div id="communicatorContent" ng-show="showCommunicator">
                <form id="second-form">
                    <input type="hidden" id="friendId" value="{{idCommunicator}}" />
                    <div class='col-md-2' style='height: 200px; width: 20%; background-color: coral; border: double;'>
                        <div style='height: 80%; background-color: #55acee; overflow: scroll'>
                            <ul id='contentCommunicator-{{idCommunicator}}'></ul>
                        </div>
                        <div style='height: 20%;'>
                            <input type="text" id="contentInput" class="form-control" style="float: left; width: 70%;"/>
                            <button id='send' class='btn btn-default' style="width: 30%;" type='submit'>Send</button>
                        </div>
                    </div>
                </form>

                <!--<communicator-talking></communicator-talking>-->
            </div>
        </div>


    </div>
</body>
</html>